body {
  background-color: #A8ECE7;

}
.Fran {
  border-radius: 99%;
}

hr {
  border-style: none;
  border-top: 4px dotted #FDFF8F;
  width: 5%;
}

h1 {
  color: #ffa8b5;
}
h3 {
  color: #D47AE8;
}
