body {
  background-color: #A8ECE7;

}
.pict {
  .pict{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 99%;
}


hr {
  border-style: none;
  border-top: 4px dotted #FDFF8F;
  width: 5%;
}

h1 {
  color: #FFA8B5;
}
h3 {
  color: #D47AE8;
}
